// Color palette
$yellow: #ffb900;
$green: #34bf49;
$red: #ed1b2e;
$blue: #417aaf;
$light-blue: #2ad2c9;
$white: #fff;
$black: #000;
$gray: #5d5d5d;
$light-gray: #ccc;
$lighter-gray: #ddd;
$faded-white: #f3f3f3;
$light-white: #f9f9f9;

$primary-color: #720d26;
$secondary-color: #343a40;
$main-text-color: #1a1a1a;
$info-color: $blue;
$warning-color: $yellow;
$error-color: $red;
